.advantages {
	position: relative;
	background-image: url('../img/advantage-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	box-shadow: 0px 0px 20px 7px rgba(50, 50, 50, 0.75);
	&__pic {
		& svg {
			width: 50px;
			height: 50px;
		}
	}
	&__text {
		color: #000;
		font-size: 20px;
		margin-top: 10px;
		display: block;
	}
}

.advantages-title {
	// position: relative;
	// font-size: 42px;
	// color: #fff;
	// &:before {
	// 	content: "";
	// 	width: 18px;
	// 	height: 4px;
	// 	background-color: #fff;
	// 	@include centered(y);
	// 	left: -25px;
	// }
	// &:after {
	// 	content: "";
	// 	width: 18px;
	// 	height: 4px;
	// 	background-color: #fff;
	// 	@include centered(y);
	// 	right: -25px;
	// }
}

.advantages-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	margin-top: 15px;
	&__item {
		margin: 0 15px;
		margin-bottom: 15px;
		text-align: center;
		width: 230px;
		border: 2px solid $red;
		border-radius: 10px;
		padding-top: 10px;
		background-color: rgba(255, 255, 255, .8);
	}
}