.header {
	width: 1200px;
	&__phone {

	}
	&__socials {

	}
	& .container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 15px 0;
		@include w320 {
			flex-flow: column;
		}
	}
}