.header {
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// margin-top: 20px;
	&__phone {

	}
	&__socials {

	}
	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;
		@include w320 {
			flex-flow: column;
		}
	}
}