* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'BebasBold', Arial, sans-serif;
	font-weight: 400;
	color: $main-font-color;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	 margin: 0;
}

a {
	text-decoration: none;
	color: $main-font-color;
	// font-family: 'ubuntu', sans-serif;
	font-weight: 500;
	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

.page-wrapper {
	display: -webkit-box;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	flex: 1;
	
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	@include clearfix;
	@include w1200 {
		max-width: 1200px;
	}

	@include w1800 {
		min-width: 1800px;
	}
	
	@include w992 {
		max-width: 768px;
	}

	@include w768 {
		width: 95%;
	}
}

.owl {
	&-dots {
		display: flex;
		flex-flow: row;
		justify-content: center;
		margin-top: 20px;
	}
	&-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: rgba(#888, .8);
		transition: $transition;
		margin: 0 20px;
		&:hover {
			background-color: $main-font-color;
		}
		// & .active {
		// 	background-color: $main-font-color;
		// }
	}
}

.owl-dot.active {
	background-color: $main-font-color;
}

.owl-item {
	@include w320 {
		margin-right: 73px;
	}
}