section.advantages
            h3.advantages-title.subtitle Почему выбирают нас

            ul.advantages-list
                li.advantages-list__item
                    .advantages__pic
                        svg
                            <use xlink:href='#rent'/>
                    span.advantages__text Предоставление авто <br>в день обращения
                li.advantages-list__item
                    .advantages__pic
                        svg
                            <use xlink:href='#receipt'/>
                    span.advantages__text Минимальный комплект <br>документов
                li.advantages-list__item
                    .advantages__pic
                        svg
                            <use xlink:href='#discount'/>
                    span.advantages__text Скидки при долгосрочной <br>аренде
                li.advantages-list__item
                    .advantages__pic
                        svg
                            <use xlink:href='#dollar'/>
                    span.advantages__text Оплата при получении авто
                li.advantages-list__item
                    .advantages__pic
                        svg
                            <use xlink:href='#target'/>
                    span.advantages__text Индивидуальный подход