section.contacts
	.container
		h2.subtitle.contacts__title Звоние прямо сейчас
		span.contacts__text И мы ответим на все Ваши вопросы
		.phone.contacts__phone
			a.phone__link(href="tel:+79781063889") +7(978) 106-38-89