section.contacts
	.container
		h2.subtitle.contacts__title Звоните прямо сейчас
		span.contacts__text И мы ответим на все Ваши вопросы
		.phone.contacts__phone
			a.phone__link(href="tel:+79896116006") +7(989) 611-60-06 <br>
			a.phone__link(href="tel:+79787235810") +7(978) 723-58-10
		h2.subtitle.contacts__conditions Условия аренды
		ul.cars-info__conditions_list
			li.cars-info__conditions_item Возраст:   с 22 лет
			li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
			li.cars-info__conditions_item Залог:   10 000 рублей