footer.footer
	.container
		.phone.footer__phone
			a.phone__link(href="tel:+79896116006") +7(989) 611-60-06 <br>
			a.phone__link(href="tel:+79787235810") +7(978) 723-58-10
		.footer__text Прокат авто в Щелкино, Крым
		.copyright.footer__copyright Дизайн и разработка:    
			span.copyright__name D-F STUDIO