footer.footer
	.container
		.phone.footer__phone
			a.phone__link(href="tel:+79781063889") +7(978) 106-38-89
		.footer__text Прокат авто в Щелкино, Крым
		.copyright.footer__copyright Дизайн и разработка:    
			span.copyright__name D-F STUDIO