section.main
           
                header.header
                    .container
                        .phone.header__phone 
                            a.phone__link(href="tel:+79896116006") +7(989) 611-60-06 <br>
                            a.phone__link(href="tel:+79787235810") +7(978) 723-58-10
                        //- ul.menu
                        //-     li.menu__item
                        //-         a.menu__link(href="#") Условия аренды
                        //-     li.menu__item
                        //-         a.menu__link(href="#") Доп. услуги
                        //-     li.menu__item
                        //-         a.menu__link(href="#") Договор
                        //-     li.menu__item
                        //-         a.menu__link(href="#") Отзывы
                        //-     <!-- ul.socials.header__cocials  
                        //-     li.socials__item
                        //-         a.socials__link.socials__link_vk 
                        //-             svg 
                        //-                 <use xlink:href='#vk'/> -->
                .main__text
                    h1.title Прокат автомобилей в Крыму <br>г.Щёлкино

                .cars
                    .container
                        h2.cars__title.subtitle.subtitle_red Наши автомобили
                        ul.cars__list
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/rio-1.jpg);")
                                            .cars-info__descr
                                                .cars-info__title Kia Rio
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2012
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> передний
                                                    li <span>Объем двигателя:</span> 1600 см<sup>3</sup>
                                                    li <span>Кондиционер</span> 
                                            .cars-info__min-costs от 1900 руб/сутки
                                    .cars-item__back
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2200 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 2100 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 2000 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1900 рублей
                                        
                            li.cars-item
                                 .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/cruze-1.jpg);")
                                            .cars-info__descr
                                                .cars-info__title Chevrolet Cruze
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2011
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> передний
                                                    li <span>Объем двигателя:</span> 1800 см<sup>3</sup>
                                                    li <span>Кондиционер</span> 
                                            .cars-info__min-costs от 2100 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2400 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 2300 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 2200 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 2100 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/fabia-1.jpg);")
                                            .cars-info__descr
                                                .cars-info__title Skoda Fabia
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2007
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> передний
                                                    li <span>Объем двигателя:</span> 1200 см<sup>3</sup>
                                                    li <span>Кондиционер</span> 
                                            .cars-info__min-costs от 1500 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 1800 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1700 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1600 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1500 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/accent.jpg);")
                                            .cars-info__descr
                                                .cars-info__title Hyundai Accent
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2007
                                                    li <span>Коробка передач:</span> Автомат
                                                    li <span>Привод:</span> передний
                                                    li <span>Объем двигателя:</span> 1500 см<sup>3</sup>
                                                    li <span>Кондиционер</span> 
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/sens.jpg);")
                                            .cars-info__descr
                                                .cars-info__title ЗАЗ Sens
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2008
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> передний
                                                    li <span>Объем двигателя:</span> 1300 см<sup>3</sup>
                    
                                            .cars-info__min-costs от 1300 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 1600 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1500 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1400 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1300 рублей