extends ../_template

block variables
  - var title = 'Прокат автомобилей в Крыму, г.Щёлкино'

block content
  .page-wrapper
    .wrapper
        include ../blocks/main

        include ../blocks/advantages

        include ../blocks/reviews

        include ../blocks/contacts

    include ../blocks/footer