extends ../_template

block variables
  - var title = 'Home page'

block content
  .page-wrapper
    .wrapper
        include ../blocks/main

        include ../blocks/advantages

        include ../blocks/reviews

    include ../blocks/footer