extends ../_template

block variables
  - var title = 'Home page'

block content
  .page-wrapper
    .wrapper
        section.main
           
                header.header
                    .container
                        .phone.header__phone 
                            a.phone__link(href="tel:+79781063889") +7(978) 106-38-89
                        ul.menu
                            li.menu__item
                                a.menu__link Условия аренды
                            li.menu__item
                                a.menu__link Доп. услуги
                            li.menu__item
                                a.menu__link Договор
                            li.menu__item
                                a.menu__link Отзывы
                        ul.socials.header__cocials
                            li.socials__item
                                a.socials__link.socials__link_vk 
                                    svg 
                                        <use xlink:href='#vk'/>
                .main__text
                    h1.title Прокат автомобилей в Крыму <br>г.Щёлкино

                .cars
                    .container
                        .cars__title 
                            h2 Наши автомобили
                        ul.cars__list
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/rio-1.jpg);")
                                                //- img(src="assets/img/rio-1.jpg")
                                            .cars-info__descr
                                                .cars-info__title Kia Rio
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2015
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> задний
                                                    li <span>Объем двигателя:</span> 1500 см<sup>3</sup>
                                                    li <span>Количество мест:</span> 5
                                                    li <span>Кондиционер:</span> +
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                                            .cars-info__conditions
                                                span.cars-info__conditions_title Условия аренды
                                                ul.cars-info__conditions_list
                                                    li.cars-info__conditions_item Возраст:   с 22 лет
                                                    li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
                                                    li.cars-info__conditions_item Залог:   10 000 рублей
                            li.cars-item
                                 .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/cruze-1.jpg);")
                                                //- img(src="assets/img/rio-1.jpg")
                                            .cars-info__descr
                                                .cars-info__title Chevrolet Cruze
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2015
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> задний
                                                    li <span>Объем двигателя:</span> 1500 см<sup>3</sup>
                                                    li <span>Количество мест:</span> 5
                                                    li <span>Кондиционер:</span> +
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                                            .cars-info__conditions
                                                span.cars-info__conditions_title Условия аренды
                                                ul.cars-info__conditions_list
                                                    li.cars-info__conditions_item Возраст:   с 22 лет
                                                    li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
                                                    li.cars-info__conditions_item Залог:   10 000 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/fabia-1.jpg);")
                                                //- img(src="assets/img/rio-1.jpg")
                                            .cars-info__descr
                                                .cars-info__title Skoda Fabia
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2015
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> задний
                                                    li <span>Объем двигателя:</span> 1400 см<sup>3</sup>
                                                    li <span>Количество мест:</span> 5
                                                    li <span>Кондиционер:</span> +
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                                            .cars-info__conditions
                                                span.cars-info__conditions_title Условия аренды
                                                ul.cars-info__conditions_list
                                                    li.cars-info__conditions_item Возраст:   с 22 лет
                                                    li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
                                                    li.cars-info__conditions_item Залог:   10 000 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/fabia-1.jpg);")
                                                //- img(src="assets/img/rio-1.jpg")
                                            .cars-info__descr
                                                .cars-info__title Skoda Fabia
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2015
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> задний
                                                    li <span>Объем двигателя:</span> 1400 см<sup>3</sup>
                                                    li <span>Количество мест:</span> 5
                                                    li <span>Кондиционер:</span> +
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                                            .cars-info__conditions
                                                span.cars-info__conditions_title Условия аренды
                                                ul.cars-info__conditions_list
                                                    li.cars-info__conditions_item Возраст:   с 22 лет
                                                    li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
                                                    li.cars-info__conditions_item Залог:   10 000 рублей
                            li.cars-item
                                .cars-item-flip
                                    .cars-item__front 
                                        .cars-info__front
                                            .cars-info__pic(style="background-image: url(assets/img/fabia-1.jpg);")
                                                //- img(src="assets/img/rio-1.jpg")
                                            .cars-info__descr
                                                .cars-info__title Skoda Fabia
                                                ul.cars-info__list
                                                    li <span>Год:</span> 2015
                                                    li <span>Коробка передач:</span> механика
                                                    li <span>Привод:</span> задний
                                                    li <span>Объем двигателя:</span> 1400 см<sup>3</sup>
                                                    li <span>Количество мест:</span> 5
                                                    li <span>Кондиционер:</span> +
                                            .cars-info__min-costs от 1700 руб/сутки
                                    .cars-item__back 
                                        .cars-info__back
                                            .cars-info__rates
                                                table.cars-info__rates-table
                                                    caption Тарифы
                                                    tr
                                                        th Продолжительность
                                                        th Стоимость (в сутки)
                                                    tr
                                                        td 1 сутки
                                                        td 2000 рублей
                                                    tr
                                                        td от 3 до 6 суток 
                                                        td 1900 рублей
                                                    tr
                                                        td от 7 до 14 суток
                                                        td 1800 рублей
                                                    tr
                                                        td от 15 суток
                                                        td 1700 рублей
                                            .cars-info__conditions
                                                span.cars-info__conditions_title Условия аренды
                                                ul.cars-info__conditions_list
                                                    li.cars-info__conditions_item Возраст:   с 22 лет
                                                    li.cars-info__conditions_item Стаж вождения:   не менее 2 лет
                                                    li.cars-info__conditions_item Залог:   10 000 рублей

        section.advantages
            .advantages-list
                .advantages-list__item

    include ../blocks/footer